.w770 {
  width: 770px;
  overflow: scroll;
}

.icon-notice {
  width: 13px;
  height: 13px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background: url("http://n.sinaimg.cn/finance/dbfx/icon-notice.png") no-repeat;
}

.notice-desc {
  color: #fff;
  max-width: 200px;
  font-size: 12px;
  z-index: 100;
  opacity: 0.9;
  position: absolute;
  padding: 4px 6px;
  background-color: #333;
  z-index: 1000;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #333;
  position: absolute;
  left: 2px;
  bottom: -7px;
}

.wrap {
  width: 1060px;
  height: 550px;
  margin: 50px auto 0;
  position: relative;
}

.h-rootlink {
  width: 553px;
  height: 20px;
  top: 83px;
  left: 289px;
  position: absolute;
  background: url("http://n.sinaimg.cn/finance/dbfx/h-rootlink.png") no-repeat;
}

.h-linktwo-1 {
  width: 188px;
  height: 20px;
  top: 170px;
  left: 190px;
  position: absolute;
  background: url("http://n.sinaimg.cn/finance/dbfx/h-linktwo-1.png") no-repeat;
}

.h-linktwo-2 {
  width: 142px;
  height: 20px;
  top: 170px;
  left: 504px;
  position: absolute;
  background: url("http://n.sinaimg.cn/finance/dbfx/h-linktwo-2.png") no-repeat;
}

.h-linktwo-3 {
  width: 152px;
  height: 20px;
  top: 170px;
  left: 772px;
  position: absolute;
  background: url("http://n.sinaimg.cn/finance/dbfx/h-linktwo-3.png") no-repeat;
}

.v-linktwo-1, .v-linktwo-1-2 {
  width: 6px;
  height: 126px;
  top: 255px;
  left: 770px;
  position: absolute;
  background: url("http://n.sinaimg.cn/finance/dbfx/v-linktwo-1.png") no-repeat;
}

.v-linktwo-1-2 {
  left: 919px;
}

.v-linktwo-2, .v-linktwo-2-2, .v-linktwo-2-3 {
  width: 6px;
  height: 141px;
  top: 340px;
  left: 70px;
  position: absolute;
  background: url("http://n.sinaimg.cn/finance/dbfx/v-linktwo-2.png") no-repeat;
}

.v-linktwo-2-2 {
  left: 195px;
}

.v-linktwo-2-3 {
  left: 320px;
}

.h-linkthird-1 {
  width: 253px;
  height: 19px;
  top: 255px;
  left: 70px;
  position: absolute;
  background: url("http://n.sinaimg.cn/finance/dbfx/h-linkthird-1.png") no-repeat;
}

.h-linkthird-2 {
  width: 219px;
  height: 20px;
  top: 255px;
  left: 380px;
  position: absolute;
  background: url("http://n.sinaimg.cn/finance/dbfx/h-linkthird-2.png") no-repeat;
}

.node {
  text-align: center;
  border: 1px solid #c3d7e8;
}

.key {
  font-size: 13px;
  position: relative;
  background-color: #e5f0ff;
}

/* 第一行 0*/

.node-row-1 {
  width: 140px;
  top: 20px;
  left: 508px;
  position: absolute;
}

.node-row-1 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-1 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-1 .icon-notice {
  top: 13px;
  right: 10px;
  position: absolute;
}

/* 第一行 1*/

/* 第二行 0*/

.node-row-2-1 {
  width: 110px;
  top: 105px;
  left: 235px;
  position: absolute;
}

.node-row-2-1 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-2-1 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-2-2 {
  width: 105px;
  top: 105px;
  left: 525px;
  position: absolute;
}

.node-row-2-2 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-2-2 .key .icon-notice {
  top: 14px;
  right: 2px;
  position: absolute;
}

.node-row-2-2 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-2-3 {
  width: 105px;
  top: 105px;
  right: 163px;
  position: absolute;
}

.node-row-2-3 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-2-3 .key .icon-notice {
  top: 14px;
  right: 8px;
  position: absolute;
}

.node-row-2-3 .value {
  height: 23px;
  line-height: 23px;
}

/* 第二行 1*/

/* 第三行 0*/

.node-row-3-1 {
  width: 105px;
  top: 190px;
  left: 145px;
  position: absolute;
}

.node-row-3-1 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-3-1 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-3-2 {
  width: 115px;
  top: 190px;
  left: 320px;
  position: absolute;
}

.node-row-3-2 .key {
  /* height: 40px;
  line-height: 40px; */
}

.node-row-3-2 .key-row-1 {
  height: 20px;
  line-height: 20px;
}

.node-row-3-2 .key-row-2 {
  height: 20px;
  line-height: 20px;
}

.node-row-3-2 .key-row-2 .icon-notice {
  top: 4px;
  right: 2px;
  position: absolute;
}

.node-row-3-2 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-3-3 {
  width: 105px;
  top: 190px;
  left: 455px;
  position: absolute;
}

.node-row-3-3 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-3-3 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-3-4 {
  width: 105px;
  top: 190px;
  left: 590px;
  position: absolute;
}

.node-row-3-4 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-3-4 .key .icon-notice {
  top: 13px;
  right: 6px;
  position: absolute;
}

.node-row-3-4 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-3-5 {
  width: 105px;
  top: 190px;
  right: 238px;
  position: absolute;
}

.node-row-3-5 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-3-5 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-3-6 {
  width: 105px;
  top: 190px;
  /* right: 163px; */
  right: 82px;
  /* 我是再chrome调试工具里面调试出来的值 */
  position: absolute;
}

.node-row-3-6 .key {
  /* height: 40px; */
  /* line-height: 40px; */
}

.node-row-3-6 .key-row-1 {
  height: 20px;
  line-height: 20px;
}

.node-row-3-6 .key-row-2 {
  height: 20px;
  line-height: 20px;
}

.node-row-3-6 .value {
  height: 23px;
  line-height: 23px;
}

/* 第三行 1*/

/* 第四行 0*/

.node-row-4-1 {
  width: 105px;
  top: 275px;
  left: 20px;
  position: absolute;
}

.node-row-4-1 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-4-1 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-4-2 {
  width: 104px;
  top: 275px;
  left: 143px;
  position: absolute;
}

.node-row-4-2 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-4-2 .key .icon-notice {
  top: 14px;
  right: 0;
  position: absolute;
}

.node-row-4-2 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-4-3 {
  width: 104px;
  top: 275px;
  left: 270px;
  position: absolute;
}

.node-row-4-3 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-4-3 .key .icon-notice {
  top: 13px;
  right: -2px;
  position: absolute;
}

.node-row-4-3 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-4-4 {
  width: 105px;
  top: 275px;
  left: 400px;
  position: absolute;
}

.node-row-4-4 .key {
  /* height: 40px;
  line-height: 40px; */
}

.node-row-4-4 .key-row-1, .node-row-4-4 .key-row-2 {
  height: 20px;
  line-height: 20px;
}

.node-row-4-4 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-4-5 {
  width: 105px;
  top: 275px;
  left: 545px;
  position: absolute;
}

.node-row-4-5 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-4-5 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-4-6 {
  width: 105px;
  top: 275px;
  left: 775px;
  position: absolute;
}

.node-row-4-6 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-4-6 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-4-7 {
  width: 105px;
  top: 275px;
  left: 925px;
  position: absolute;
}

.node-row-4-7 .key {
  /* height: 40px;
  line-height: 40px; */
}

.node-row-4-7 .key-row-1, .node-row-4-7 .key-row-2 {
  height: 20px;
  line-height: 20px;
}

.node-row-4-7 .value {
  height: 23px;
  line-height: 23px;
}

/* 第四行 1*/

/* 第五行 0*/

.node-row-5-1 {
  width: 105px;
  top: 350px;
  left: 75px;
  position: absolute;
}

.node-row-5-1 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-5-1 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-5-2 {
  width: 105px;
  top: 350px;
  left: 200px;
  position: absolute;
}

.node-row-5-2 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-5-2 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-5-3 {
  width: 105px;
  top: 350px;
  left: 325px;
  position: absolute;
}

.node-row-5-3 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-5-3 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-5-4 {
  width: 105px;
  top: 350px;
  left: 775px;
  position: absolute;
}

.node-row-5-4 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-5-4 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-5-5 {
  width: 105px;
  top: 350px;
  left: 925px;
  position: absolute;
}

.node-row-5-5 .key {
  /* height: 40px;
  line-height: 40px; */
}

.node-row-5-5 .key-row-1, .node-row-5-5 .key-row-2 {
  height: 20px;
  line-height: 20px;
}

.node-row-5-5 .value {
  height: 23px;
  line-height: 23px;
}

/* 第五行 1*/

/* 第六行 0*/

.node-row-6-1 {
  width: 105px;
  top: 436px;
  left: 75px;
  position: absolute;
}

.node-row-6-1 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-6-1 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-6-2 {
  width: 105px;
  top: 436px;
  left: 200px;
  position: absolute;
}

.node-row-6-2 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-6-2 .value {
  height: 23px;
  line-height: 23px;
}

.node-row-6-3 {
  width: 105px;
  top: 436px;
  left: 325px;
  position: absolute;
}

.node-row-6-3 .key {
  height: 40px;
  line-height: 40px;
}

.node-row-6-3 .value {
  height: 23px;
  line-height: 23px;
}

/* 第六行 1*/
.fullscreen-layer {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  background-color: #fff;
}
.fullscreen-layer h1 {
  left: 50%;
  font-size: 20px;
  width: 1060px;
  margin-top: 2%;
  margin-left: -530px;
  position: absolute;
}
.fullscreen-layer h1 span {
  margin-right: 20px;
}
.fullscreen-layer .wrap {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -275px;
  margin-left: -530px;
}
.fullscreen-layer .close {
  cursor: pointer;
  margin-left: 56%;
}
