/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
}
.wrap {
  width: 1060px;
  height: 460px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #333;
}

.h-rootlink {
  width: 553px;
  height: 20px;
  background: url("./h-rootlink.png") no-repeat;
}

.h-linktwo-1 {
  width: 188px;
  height: 20px;
  background: url("./h-linktwo-1.png") no-repeat;
}
.h-linktwo-2 {
  width: 142px;
  height: 20px;
  background: url("./h-linktwo-2.png") no-repeat;
}
.h-linktwo-3 {
  width: 152px;
  height: 20px;
  background: url("./h-linktwo-3.png") no-repeat;
}
.v-linktwo-1 {
  width: 6px;
  height: 126px;
  background: url("./v-linktwo-1.png") no-repeat;
}
.v-linktwo-2 {
  width: 6px;
  height: 141px;
  background: url("./v-linktwo-2.png") no-repeat;
}

.h-linkthird-1 {
  width: 253px;
  height: 19px;
  background: url("./h-linkthird-1.png") no-repeat;
}
.h-linkthird-2 {
  width: 219px;
  height: 20px;
  background: url("./h-linkthird-2.png") no-repeat;
}

.node {
  text-align: center;
  border: 1px solid #c3d7e8;
}
.key {
  font-size: 13px;
  background-color: #e5f0ff;
}
/* 第一行 0*/
.node-row-1 {
  width: 140px;
  top: 20px;
  left: 508px;
  position: absolute;
}
.node-row-1 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-1 .value {
  height: 23px;
  line-height: 23px;
}
/* 第一行 1*/

/* 第二行 0*/
.node-row-2-1 {
  width: 110px;
  top: 105px;
  left: 235px;
  position: absolute;
}
.node-row-2-1 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-2-1 .value {
  height: 23px;
  line-height: 23px;
}
.node-row-2-2 {
  width: 105px;
  top: 105px;
  left: 525px;
  position: absolute;
}
.node-row-2-2 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-2-2 .value {
  height: 23px;
  line-height: 23px;
}
.node-row-2-3 {
  width: 105px;
  top: 105px;
  right: 163px;
  position: absolute;
}
.node-row-2-3 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-2-3 .value {
  height: 23px;
  line-height: 23px;
}
/* 第二行 1*/

/* 第三行 0*/
.node-row-3-1 {
  width: 105px;
  top: 190px;
  left: 145px;
  position: absolute;
}
.node-row-3-1 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-3-1 .value {
  height: 23px;
  line-height: 23px;
}
.node-row-3-2 {
  width: 115px;
  top: 190px;
  left: 320px;
  position: absolute;
}
.node-row-3-2 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-3-2 .value {
  height: 23px;
  line-height: 23px;
}
.node-row-3-3 {
  width: 105px;
  top: 190px;
  left: 455px;
  position: absolute;
}
.node-row-3-3 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-3-3 .value {
  height: 23px;
  line-height: 23px;
}
.node-row-3-4 {
  width: 105px;
  top: 190px;
  left: 590px;
  position: absolute;
}
.node-row-3-4 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-3-4 .value {
  height: 23px;
  line-height: 23px;
}
.node-row-3-5 {
  width: 105px;
  top: 190px;
  right: 238px;
  position: absolute;
}
.node-row-3-5 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-3-5 .value {
  height: 23px;
  line-height: 23px;
}
.node-row-3-6 {
  width: 105px;
  top: 190px;
  right: 163px;
  position: absolute;
}
.node-row-3-6 .key {
  height: 40px;
  line-height: 40px;
}
.node-row-3-6 .value {
  height: 23px;
  line-height: 23px;
}

/* 第三行 1*/

/* 第四行 0*/
.node-row-4-1 {
  width: 105px;

}
.node-row-4-1 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-4-1 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-4-2 {
  width:104px;
}
.node-row-4-2 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-4-2 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-4-3 {
  width: 104px;
}
.node-row-4-3 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-4-3 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-4-4 {
  width:105px;
}
.node-row-4-4 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-4-4 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-4-5 {
  width:105px;
}
.node-row-4-5 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-4-5 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-4-6 {
  width:105px;

}
.node-row-4-6 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-4-6 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-4-7 {
  width:105px;
}
.node-row-4-7 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-4-7 .value{
  height: 23px;
  line-height: 23px;
}
/* 第四行 1*/

/* 第五行 0*/
.node-row-5-1 {
  width:105px;
}
.node-row-5-1 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-5-1 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-5-2 {
  width:105px;
}
.node-row-5-2 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-5-2 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-5-3 {
  width:105px;
}
.node-row-5-3 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-5-3 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-5-4 {
  width:105px;
}
.node-row-5-4 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-5-4 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-5-5 {
  width:105px;
}
.node-row-5-5 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-5-5 .value{
  height: 23px;
  line-height: 23px;
}
/* 第五行 1*/

/* 第六行 0*/
.node-row-6-1 {
  width:105px;
}
.node-row-6-1 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-6-1 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-6-2 {
  width:105px;
}
.node-row-6-2 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-6-2 .value{
  height: 23px;
  line-height: 23px;
}
.node-row-6-3 {
  width:105px;
}
.node-row-6-3 .key{
  height: 40px;
  line-height: 40px;
}
.node-row-6-3 .value{
  height: 23px;
  line-height: 23px;
}
/* 第六行 1*/
